{{#with assets}}

<!-- left column - connection summary -->
<div class="col-sm-4">

    <!-- left nav -->
    <div class="col-sm-8 center-block  well">
        <h3 class="h-left-nav-title">Asset Overview</h3>
        <div class="ctrl-connector">
              <img src='{{tables.0.fields.thumbnail.value}}' class="" alt="Thumb"/>
        </div><br class="c-both" />

        <h4>{{tables.0.fields.displayname.value}}</h4>

        <p class="t-asset-ver">{{tables.0.fields.version.value}}</p>
        <p>{{tables.0.fields.description.value}}</p>

    </div>
    <!-- /left nav -->

</div>
<!-- /left column -->

<!-- right column -->
<div class="col-sm-6">

    <h3>Manage Connection</h3>


    <div class='content-div'>
        <div class="clearfix" style="height:30px;"></div>

        {{#if existingConnections}}
            <h4 class="h-asset-title">Existing connections</h4>

            <div class="clearfix" style="height:20px;"></div>

            <div class="list-group">

            {{#each existingConnections}}

                {{#recipeUriIdNullCheck ../returnRecipeUri}}
                <!-- When coming from integration creation -->
                <a href="{{../../returnRecipeUri}}&value={{this}}" class="list-group-item">
                    <h4 class="list-group-item-heading col-sm-10">
                        {{this}}
                    </h4>

                    <form action="{{url ""}}/asts/{{../../type}}/apis/deleteAccount?type=connection&accountId={{this}}&id={{../../id}}&recipeUri={{../../returnRecipeUri}}"
                          id="form-delete" method="post" role="form">
                        <button class="btn btn-danger">
                            <i class="fa fa-trash-o fa-lg"></i> Delete
                        </button>
                    </form>
                </a>

                {{else}}
                <!-- When coming from dashboard -->
                <a class="list-group-item">
                    <h4 class="list-group-item-heading col-sm-10">
                        {{this}}
                    </h4>

                    <form action="{{url ""}}/asts/{{../../type}}/apis/deleteAccount?type=connection&accountId={{this}}&id={{../../id}}&recipeUri={{../../returnRecipeUri}}"
                          id="form-delete" method="post" role="form">
                        <button class="btn btn-danger">
                            <i class="fa fa-trash-o fa-lg"></i> Delete
                        </button>
                    </form>
                </a>

                {{/recipeUriIdNullCheck}}

            {{/each}}

            </div>

        {{/if}}



        <div class="clearfix" style="height:30px;"></div>

        <form action="{{url ""}}/asts/connection/apis/{{tables.0.fields.authenticationType.value}}?type=connection&id={{id}}&recipeUri={{returnRecipeUri}}&connectionName={{tables.0.fields.name.value}}"   method="post" role="form">
            <button type="submit" class="btn btn-success btn-lg">
                <i class="fa fa-plus fa-lg"></i> New Connection
            </button>
        </form>

    </div>
</div>
<!-- /right column -->

{{/with}}





